@normal-green: #00B99D;
@deeper-green: #00B69A;
@lighter-green: #00C0A3;
@cb-blue: #0066da;

.logo {
  .logo-image {

  }
  .logo-text {
    display: inline-block;
    font-family: impact;
    color: white;
    vertical-align: middle;
    font-size: 22px;
    margin-left: 6px;
  }
}
.navbar {
  margin-bottom: 0px;
  background: @cb-blue;
  border-radius: 0px;
  border-color: @cb-blue;
  z-index: 1;
}

.navbar-nav {
  li {
    font-size: 16px;
    a {
      color: white;
    }
    a:hover {
      color: white;
      background-color: @cb-blue;
    }
    a:focus {
      color: white;
      background-color: @cb-blue;
    }

    .line {
      height: 18px;
      width: 2px;
      background-color: #00336d;
      border-right: 1px solid #4d94e5;
      margin-top: 16px;
    }
  }
}

.nav .open {
  a {
    background-color: white;
    color: black;
  }
  a:hover {
    background-color: @cb-blue;
  }
  a:focus {
    background-color: @cb-blue;
  }
}

.dropdown-menu {
}