<div ng-controller="assetManageCtrl" id="asset-manage">
    <div class="row">
        <div class="col-sm-3 col-xs-4">
            <div class="btn-group btn-block" uib-dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-primary btn-block" uib-dropdown-toggle>
                    切换视图： {{show_tree ? "树状图" : "网状图"}} <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu>
                    <li><a ng-click="show_tree=true;">树状图</a></li>
                    <li><a ng-click="show_tree=false;">网状图</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 8px;">
        <div class="col-md-12">
            <div ng-if="data" ba-panel ba-panel-title="网络拓扑图" ba-panel-class="" id="topology">
                <topology-graph ng-if="!show_tree" graph-data="data"></topology-graph>
                <asset-tree ng-if="show_tree" asset-tree="data"></asset-tree>
            </div>
        </div>
    </div>
</div>