<div ui-view="" ng-controller="assetCtrl">
    <button type="button" class="btn btn-primary btn-raised" ui-sref=".manage">资产管理</button>
    <div class="row" style="margin-top: 8px;">
    <div class="col-md-12">
        <div ba-panel ba-panel-title="{{sensor}}" ba-panel-class="with-scroll" ng-repeat="sensor in sensorNames">
            <div class="horizontal-scroll">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr class="black-muted-bg">
                        <th class="" style="text-align: left;padding-left: 8px">ip</th>
                        <th class="" style="padding-left: 8px">评分</th>
                        <th class="" style="padding-left: 8px">漏洞数量</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="host in hosts[sensor]" class="no-top-border" ui-sref="asset.information({sensorName:sensor, ip:host.ip})" style="cursor: pointer">
                        <td class="" style="text-align: left;">{{host.ip}}</td>
                        <td class="">{{host.score | number:1}}</td>
                        <td class="">{{host.vulnerabilityCount}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>